.Contactdata{
        margin:20px auto;
        width: 90%;
        text-align: center;
        border:1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
}
@media (min-width: 600px) {
    .Contactdata{
        width: 500px;
    }
}